<div
	class="container-xxl flex-grow-1 container-p-y">
	<!-- Basic Layout -->
	<div>
		<div class="card mb-4">
			<div class="card-body">
				{{ form_start(form) }}
				<div class="mb-3">
					{{ form_label(form.email) }}
					{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.cin) }}
					{{ form_widget(form.cin, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.mdp) }}
					{{ form_widget(form.mdp, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.nom) }}
					{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.prenom) }}
					{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.numtelephone) }}
					{{ form_widget(form.numtelephone, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.datenaissance) }}
					{{ form_widget(form.datenaissance, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.genre) }}
					{{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.role) }}
					{{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.active, 'Active', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.active, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.active) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.adresse, 'Adresse', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.adresse) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.ville, 'Ville', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.ville) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.pays, 'Pays', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.pays) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.numlicense, 'Numéro de licence', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.numlicense, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.numlicense) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.datelicense, 'Date de licence', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.datelicense, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.datelicense) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.competences, 'Compétences', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.competences, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.competences) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.disponibilite, 'Disponibilité', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.disponibilite, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.disponibilite) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.secteur, 'Secteur', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.secteur, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.secteur) }}
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
